:root {
  --blue: #004baf;
  --white: #ffffff;
  --jaune: #fec93b;
  --font--big: 30px;
  --font--mean: 20px;
  --font--small: 15px;
  --blueParagraph: #486e8e;
  --font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content .color {
  color: var(--white) !important;
}
.content .paragraph4 {
  color: var(--blue);
}
.content .paragraph1{
    color: var(--blueParagraph);
}