.mobileNavigation {
  display: none;
}

@media only screen and (max-width: 425px) {
  .mobileNavigation {
    display: flex;
    background-color: gainsboro;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  .mobileNavigation .hamburger {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
  }

  .mobileNavigation nav ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 140px;
    width: 100%;
    right: 0;
  }
  .mobileNavigation nav ul li a:hover {
    color: #004baf;
  }
  .mobileNavigation nav ul li {
    margin: 10px;
  }
  .navigation {
    display: none;
    padding: 0;
    margin: 0;
  }
}
