:root {
  --blue: #004baf;
  --white: #ffffff;
  --jaune: #fec93b;
  --font--big: 30px;
  --font--mean: 20px;
  --background--hover: #e2e3ff;
  --font--small: 15px;
  --blueParagraph: #486e8e;
  --font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.blockContent {
  transition: 500ms linear;
}
.blockContent2 button {
  transition: 500ms linear;
  cursor: pointer;
}
.blockContent2 button:hover {
  background-color: var(--jaune);
  transform: scale(1.1);
}
.blockContent:hover {
  background-color: var(--background--hover);
  transform: scale(1.1);
}
.blockContentLast {
  transition: 500ms linear;
}
.blockContentLast:hover {
  background-color: var(--background--hover);
  transform: scale(1.1);
}
header ul li a {
  font-size: var(--font--mean);
  font-family: var(--font-family);
}
.content p {
  color: var(--white);
}
.first1 h1 {
  color: var(--blue);
  font-weight: bolder;
  font-family: var(--font-family);
}
.first1 p {
  color: var(--blueParagraph);
  font-size: var(--font--mean);
}
.first1 P:hover {
  color: var(--jaune);
}
.content button {
  font-size: var(--font--small);
  padding: 0.5em;
  border-radius: 30px;
  color: var(--blue);
  font-weight: bolder;
  background-color: var(--white);
}

@media only screen and (max-width: 1440px) {
  .content p {
    color: var(--white);
    font-size: 20px;
    margin: 1em 0em;
  }
  .content h2 {
    font-size: 25px;
    margin: 1em 0;
  }
  .content button {
    font-size: 15px;
    padding: 0.5em;
    border-radius: 30px;
  }
  header ul li a {
    font-size: 20px;
  }
  .title-raison {
    font-size: 30px;
  }
  .blockContent {
    width: 350px;
    height: auto;
  }
  .blockContent p {
    font-size: 20px;
  }
  .blockContent2 .title {
    font-size: 30px;
    font-weight: 500;
  }
  .title-content {
    font-size: 20px;
    margin-bottom: 3em;
  }
  .btnMore {
    font-size: 20px;
    width: 300px;
  }
  .pack-collabo {
    font-size: 30px;
  }
  .blockContentLast {
    width: 250px;
    /* margin: 20px; */
  }
  .blockContentLast p {
    font-size: 16px;
  }
  .desc h2 {
    font-size: 20px;
    color: var(--white);
  }
  .desc p {
    font-size: 20px;
  }
  .contact p {
    font-size: 16px;
  }
  .contact img {
    width: 4%;
  }
  .desc-last {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1080px) {
  header ul li a {
    font-size: 18px;
  }
  .content h2 {
    color: var(--white);
    font-size: 25px;
    margin: 1em 0;
  }
  .content p {
    color: var(--white);
    font-size: 16px;
    margin: 1em 0em;
  }
  .blockContent {
    width: 278px;
    height: auto;
  }
  .block {
    margin: 2em;
  }
  .blockContentLast {
    width: 217px;
    /* margin: 20px; */
  }
  .blockContentLast p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .blockContent p {
    font-size: 16px;
  }
  .raisons .blockContent {
    height: auto;
    width: 193px;
    background-color: rgb(244, 244, 244);
    margin-bottom: 10px;
  }

  .content button {
    margin-bottom: 30px;
  }
  .blockContent2 .title {
    font-size: 25px;
  }
  .title-content {
    font-size: 16px;
    margin-bottom: 2em;
  }
  .btnMore {
    font-size: 16px;
    width: 250px;
  }
  .pack-collabo {
    font-size: 25px;
  }
}
@media only screen and (max-width: 425px) {
  footer {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    background-size: cover;
  }
  header {
    height: auto;
  }
  header ul {
    display: flex;
    flex-direction: column;
  }
  .raisons {
    padding: 1em 1em;
  }
  .raisons .blockContent {
    width: 100%;
  }
  .blockContent2 {
    width: 100%;
    background-color: #f4f4f4;
    height: auto;
    padding: 4em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .blockContent1 {
    width: 100%;
    height: auto;
    background-color: #004baf;
    padding-left: 2em;
    padding-right: 2em;
  }
  .block2 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0px;
  }
  .raisons .blockContent {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .blockContentLast {
    width: 100%;
  }
  .block {
    margin: 0;
    padding: 1em 1em;
  }
  .desc h2 {
    font-size: 20px;
  }
  .desc p {
    font-size: 14px;
  }
  .desc-last {
    font-size: 14px;
  }
}
@media only screen and (max-width: 375px) {
  .title-raison {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    background-color: #004baf;
    display: flex;
    height: 80px;
    justify-content: space-between;
  }
  header ul li a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 540px) {
  .blockContent2 {
    width: 100%;
    background-color: #f4f4f4;
    height: auto;
    padding: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .blockContent1 {
    width: 100%;
    height: auto;
    background-color: #004baf;
    padding-left: 2em;
    padding-right: 2em;
  }
  .raisons {
    padding: 0;
  }
  .block2 {
    margin: 0;
  }
  header {
    display: flex;
    height: 140px;
    justify-content: center;
  }
  header {
    display: flex;
    height: auto;
    top: 8%;
    justify-content: center;
  }
  header ul li {
    display: inline-flex;
    align-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  header ul {
    display: flex;
    flex-direction: column;
  }
  header {
    height: auto;
  }
  .mobileNavigation .hamburger {
    right: 8%;
    top: 10px;
  }
}
